@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Poppins;
  padding-inline: 2%;
}

a {
  display: block;
  text-decoration: none;
  color: #181818;
}

img {
  width: 100%;
}

#active {
  background-color: #5c48ee;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  transition: all 0.4s;
}

#active:hover {
  background-color: #0f1e6a;
}

.align-item-c {
  align-items: center;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.flex-dir-c {
  flex-direction: column;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.header-top {
  grid-template-columns: repeat(2, min-content);
  justify-content: space-between;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px #d5d5d5;
  margin: 10px 0 50px 0;
}

.logo-section a {
  font-size: 1.4rem;
  color: #5c48ee;
}

#toggle-nav:checked ~ .nav-menu {
  transform: translateX(0px);
}

.toggle-nav-label {
  width: 25px;
  flex-flow: column;
  gap: 4px;
}

.toggle-nav-label .line {
  display: inline-block;
  height: 3px;
  width: 100%;
  border-radius: 3px;
  background-color: #242529;
  transition: all 0.2s ease-out;
}

#toggle-nav:checked ~ .toggle-nav-label .line:nth-child(2) {
  width: 70%;
  background-color: #5c48ee;
}

#toggle-nav:checked ~ .toggle-nav-label .line:nth-child(3) {
  width: 40%;
}

.nav-menu {
  width: 45%;
  height: 100vh;
  flex-flow: column;
  padding: 15px 0 0 0;
  border-top: 5px solid #5c48ee;
  background-color: #dcdcdcbe;
  backdrop-filter: blur(30px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateX(-100%);
  transition: all 0.3s;
}

.nav-menu-i {
  padding: 10px 10px;
}

.header-bottom {
  padding-inline: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  justify-content: center;
  gap: 50px 30px;
}

.main-header-left {
  justify-content: center;
  text-align: center;
}

.header-title {
  font-size: 2.8rem;
  line-height: 3.4rem;
}

.header-title span:nth-child(1) {
  font-weight: 400;
}

.header-title span:nth-child(2) {
  color: #0f1e6a;
  font-weight: 700;
}

.header-title span:nth-child(3) {
  color: #5c48f2;
  font-weight: 900;
}

.header-desc {
  max-width: 443px;
  margin: 16px 0 25px 0;
  color: #6b6b6b;
}

.header-searchbox {
  width: 100%;
  max-width: 390px;
  box-shadow: 0 5px 20px rgba(113, 113, 113, 0.595);
  border-radius: 2px 10px 10px 2px;
  overflow: hidden;
}

.header-searchbox input {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 10px;
}

.header-searchbox button {
  border: none;
  background-color: #5c48f2;
  color: rgb(229, 229, 229);
  padding-inline: 15px;
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 0.9rem;
}

.main-header-right {
  gap: 30px 0px;
  justify-content: center;
  position: relative;
}

.main-header-right img {
  width: 50%;
  max-width: 260px;
  object-fit: cover;
  border-radius: 20px;
}

.main-header-right img:nth-child(1) {
  align-self: flex-end;
  padding-right: 10px;
}

.main-header-right img:nth-child(2) {
  align-self: flex-start;
  padding-left: 10px;
}

.image-text {
  width: 100%;
  max-width: max-content;
  padding: 16px 15px;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    rgba(92, 72, 238, 0.6),
    rgba(15, 30, 106, 0.4)
  );
  backdrop-filter: blur(20px);
  color: #e9e9e9;
  position: absolute;
}

@media screen and (min-width: 992px) {
  .toggle-nav-label {
    display: none;
  }

  .nav-menu {
    width: max-content;
    height: min-content;
    flex-direction: row;
    gap: 30px;
    padding: unset;
    border: unset;
    background-color: unset;
    position: unset;
    transform: unset;
  }

  .nav-menu-i {
    width: max-content;
    padding: unset;
  }

  .nav-menu .nav-menu-i:not(:last-child) a:hover {
    color: rgb(135, 79, 255);
    transition: all 500ms;
  }

  .header-bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
  }

  .main-header-right {
    flex-direction: row;
  }
}
